
# build outputs
**/build/
**/cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

/FileRecv/
/FileSend/

# binaries & objects
*.o
*.a
*.so
*.so.*
*.out
*.exe
*.dll
*.dylib
*.pdb

# Qt / moc
moc_*.cpp
ui_*.h
qrc_*.cpp

# logs & temp
*.log
*.tmp
*.swp
.DS_Store

# IDE
.vscode/
.idea/
*.user
*.user.*
*.qtc

# CMake/Ninja
CMakeUserPresets.json
CMakePresets.json
build.ninja
.ninja_deps
.ninja_log

# Qt cache
moc_predefs.h

# OS
Thumbs.db